//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^bmes.ucsd.edu[nc]
RewriteRule ^(.*)$ http://www.bmes.ucsd.edu/$1 [r=301,nc]

//Custom 404 errors
ErrorDocument 404 error.html

//Block bad bots