.item:nth-child(1) {
  background-image: url("/images/overlay.png"), url("/images/beinspired1.jpg") !important;
  background-position: center top;
}
.item:nth-child(2) {
  background-image: url("/images/overlay.png"), url("/images/beinspired2.jpg") !important;
}
.item:nth-child(3) {
  background-image: url("/images/overlay.png"), url("/images/beinspired3.jpg") !important;
}
