.item:nth-child(1) {
  background-image: url("/images/overlay.png"), url("/images/labexpo1.jpg") !important;
}
.item:nth-child(2) {
  background-image: url("/images/overlay.png"), url("/images/labexpo2.jpg") !important;
}
.item:nth-child(3) {
  background-image: url("/images/overlay.png"), url("/images/labexpo3.jpg") !important;
}
