.item:nth-child(1) {
  background-image: url("/images/overlay.png"), url("/images/mentormentee1.jpg") !important;
}
.item:nth-child(2) {
  background-image: url("/images/overlay.png"), url("/images/mentormentee2.jpg") !important;
}
.item:nth-child(3) {
  background-image: url("/images/overlay.png"), url("/images/mentormentee3.jpg") !important;
}
